<div class="logo-bar">
  <img src="assets/logo_p6.png" alt="Logo" class="logo">
</div>
<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
      <mat-card-header class="center-header"> 
          <mat-card-title>Se connecter</mat-card-title> 
      </mat-card-header>
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
          <mat-card-content fxLayout="column">
              <div class="form-field">
                  <label for="email">E-mail ou nom d’utilisateur</label>
                  <mat-form-field fxFlex appearance="outline">
                      <input matInput id="email" formControlName="email" >
                  </mat-form-field>
              </div>
              
              <div class="form-field">
                <label for="motdepasse">Mot de passe</label>
                <mat-form-field fxFlex appearance="outline">
                    <input matInput id="motdepasse" [type]="hide ? 'password' : 'text'" formControlName="motdepasse"> <!-- Changez 'password' ici -->
                </mat-form-field>
            </div>
            
          </mat-card-content>
          <div class="button-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
          </div>
          <p *ngIf="onError" class="error">Une erreur est survenue</p>
      </form>
  </mat-card>
</div>
