body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.btn-connecter, .btn-inscrire {
  margin: 5px; /* Réduction de l'espace entre les boutons */
  width: 20%; /* Réduction de la taille des boutons */
  max-width: none;
}

/* Media Queries */
@media (max-width: 600px) {
  .buttons {
    justify-content: center;
    flex-direction: column;
  }

  .btn-connecter, .btn-inscrire {
    width: 60%; /* Ajustez la largeur pour petits écrans */
    margin: 10px auto; /* Centre horizontalement */
  }
}
